.App {
  text-align: center;
  background-image: url('https://images.unsplash.com/photo-1544797087-0ac5e7c5da32?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-wrapper {
  height: 600px;
  width: 500px;
  background-color: white;
  opacity: 0.5;
  border-radius: 10px;
}

.App-logo {
  padding: 25px;
  margin-top: 30px;
  filter: invert(10%)
}

